/* Base Styles for Mobile Devices */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffffff2;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #002244;
  padding: 0.5rem;
}

nav a {
  color: rgb(224, 109, 109);
  text-decoration: none;
  margin: 0 7px;
  font-weight: bold;
}

nav a:hover {
  color: #99b5bf;
}

/* Main content area styling */
main {
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

/* For Tablet and Larger Devices (768px and above) */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  main {
    padding-top: 10rem;
  }

  nav {
    padding: 1rem;
  }

  nav a {
    font-size: 18px;
  }
}

/* For Desktop Devices (1024px and above) */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  main {
    padding-top: 12rem;
  }

  nav {
    padding: 1.5rem;
  }

  nav a {
    font-size: 20px;
  }
}
